<% if current_user and current_user.role == 'admin' %>
    <!--admin-->

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="container">
          <div class="row-seance col-xs-5">
            <h2>Seanse</h2>
            <%= link_to new_seance_path, class: "btn btn-success admin_new" do %>
                Dodaj nowy seans
            <% end %>
          </div>
          <div>
            <%= search_form_for @search, url: search_seances_path, html: {class: "form-inline col-xs-6 seance-search", method: :get} do |f| %>
                <div class="input-daterange input-group" id="datepicker">
                  <div class="col-xs-5">
                    <%= f.search_field :start_date_gteq, class: "form-control", placeholder: "Od" %>
                  </div>
                  <div class="col-xs-5">
                    <%= f.search_field :start_date_lteq, class: "form-control", placeholder: "Do" %>
                  </div>
                </div>
                <div class="col-xs-5">
                  <%= f.search_field :movie_title_cont, class: "form-control", placeholder: "Tytuł filmu" %>
                </div>
                <div class="col-xs-5">
                  <%= f.search_field :room_name_cont, class: "form-control", placeholder: "Sala" %>
                </div>
                <div class="col-xs-2 form-actions">
                  <%= f.submit "Szukaj", class: "btn btn-info" %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel-body btn-">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Czas rozpoczęcia</th>
            <th>Film</th>
            <th>Sala</th>
            <th>Zajęte miejsca</th>
            <th>3D</th>
            <th>Typ</th>
            <th colspan="3">Akcje</th>
          </tr>
          </thead>

          <tbody>
          <% @seances.each do |seance| %>
              <tr>
                <td><%= format_datatime(seance.start_date) %></td>
                <td><%= seance.movie.title %></td>
                <td><%= seance.room.name %></td>
                <td><%= seats_count(seance) %>/<%= seance.room.seatings.where(slot: true).count %></td>
                <td><%= seance.threed %></td>
                <td><% if seance.subtitle %>Napisy<% end %><% if seance.lector %>Lektor<% end %><% if seance.dubbing %>Dubbing<% end %></td>
                <td class="text-right">
                  <% if seats_count(seance) == 0 %><%= link_to 'Edytuj', edit_seance_path(seance), class: "btn btn-default btn-xs" %>
                      <%= link_to 'Usuń', seance, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %><% end %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <%= will_paginate @seance, :previous_label => 'Poprzednia', :next_label => 'Nastepna', renderer: BootstrapPagination::Rails %>
      </div>
    </div>

    <!--admin-->
<% else %>
    <!--user, emp-->

    <legend>Seance</legend>
    <div class="row">
      <ul class="nav nav-tabs" role="tablist">
        <% active = 6 %>
        <% tmp = false %>
        <% (0..6).each do |indx1| %>
            <% one_day = @seances.where(start_date: (Time.now.beginning_of_day + indx1.days)..(Time.now.end_of_day + indx1.days)) %>
            <% tmp1 = day_of_week((Time.now + indx1.day).wday) %>
            <li role="presentation" class="<% if one_day.count == 0 %>disable-nav-tabs<% else; active = indx1; end %><% if indx1 == active and tmp == false; tmp = true %>active<% end %>" >
              <a href="#<%= tmp1 %>" aria-controls="<%= tmp1 %>" role="tab" data-toggle="tab">
                <h4 class="date-seance"><%= tmp1 %></h4><%= format_date(Time.now + indx1.day) %>
              </a>
            </li>
        <% end %>
      </ul>
      <div class="tab-content seance">
        <% active = 6 %>
        <% tmp = false %>
        <% (0..6).each do |indx2| %>
            <% one_day = @seances.where(start_date: (Time.now.beginning_of_day + indx2.days)..(Time.now.end_of_day + indx2.days)) %>
            <% tmp2 = day_of_week((Time.now + indx2.day).wday) %>
            <div role="tabpanel" class="tab-pane <% if one_day.count != 0; active = indx2; end %><% if indx2 == active and tmp == false; tmp = true %>active<% end %>" id="<%= tmp2 %>">
              <table class="table-hover table">
                <tbody>
                <% one_day.group(:movie_id).each do |seance| %>
                    <tr>
                      <td><h4><b><%= seance.movie.title %></b></h4></td>
                      <td>
                        <% one_day.where(movie_id: seance.movie).sort_by { |x| x.start_date }.each do |time| %>
                            <%= link_to((time.start_date.strftime("%H:%M") + '<b>' + threed_check(time) + '</b>' + '<br>' + '<b>' + subtitle_check(time) + '</b>').html_safe , {controller: 'orders', action: 'show_info', seance_id: time.id}, class: "btn btn-default btn-xs btn-seance") %>
                        <% end %>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
        <% end %>
      </div>
    </div>

    <!--user, emp-->
<% end %>



