<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @seance.start_date %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @seance.movie_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @seance.room_id %>
</p>

<%= link_to 'Edit', edit_seance_path(@seance) %> |
<%= link_to 'Back', seances_path %>
