<% if current_user and current_user.role == 'admin' %>
    <!--admin-->

    <div class="container">

      <h1>Filmy</h1>
      <%= link_to new_movie_path, class: "btn btn-success admin_new" do %>
          </span>Dodaj nowy film
      <% end %>

      <div class="search-form">
        <%= search_form_for @search do |f| %>
            <%= f.text_field :title_cont, placeholder: 'Tytuł' %>
            <%= f.select :categories_name_cont, options_for_select(Category.all.map {|x| [x.name] }, :selected => @search.categories_name_cont) %>
            <%= f.submit value: 'Szukaj' %>
        <% end %>
      </div>

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Tytuł</th>
          <th><%= sort_link @search, :duration, "Czas trwania" %></th>
          <th>Gatunek</th>
          <th><%= sort_link @search, :country, "Kraj" %></th>
          <th><%= sort_link @search, :premiere, "Premiera" %></th>
          <th colspan="3">Akcje</th>
        </tr>
        </thead>

        <tbody>
        <% @movies.each do |movie| %>
            <tr>
              <td><%= movie.title %></td>
              <td><%= movie.duration %></td>
              <td>
                <% movie.categories.each do |category| %>
                    <%= category.name %>
                <% end %>
              </td>
              <td><%= movie.country %></td>
              <td><%= format_date(movie.premiere) %></td>
              <td class="text-right"><%= link_to 'Szczegóły', movie, class: "btn btn-default btn-xs" %>
                <%= link_to 'Edytuj', edit_movie_path(movie), class: "btn btn-default btn-xs" %>
                <%= link_to 'Usuń', movie, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate @movies, :previous_label => 'Poprzednia', :next_label => 'Nastepna', renderer: BootstrapPagination::Rails %>


      <br>
    </div>

    <!--admin-->
<% else %>
    <!--user, employee-->

    <div class="container container-margin">
      <div class="row">
        <div class="col-xs-12">
          <legend>Premiery</legend>
        </div>
      </div>
      <div class="row">
        <section class="regular slider">
          <% @premiere.each do |p| %>
            <div>
              <%= image_tag p.picture %>
            </div>
          <% end %>
        </section>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <legend>Repertuar</legend>
        </div>
      </div>
      <div class="search-form-movie">
        <%= search_form_for @search do |f| %>
            <%= f.text_field :title_or_country_cont %>
            <%= f.submit value: 'Szukaj', class: 'btn btn-default' %>
        <% end %>
      </div>

      <% @movies.each_slice(4) do |slice| %>

    <div class="row">
        <div class="col-xs-12">
          <div class="movies-container">
            <% slice.each do |movie| %>
              <div class="movies-item" data-toltip="toltip<%= movie.id %>">
                <%= link_to (image_tag movie.picture, class: "photo"), movie %>
                <div class="movie-title" >
                  <h4><%= link_to movie.title, movie %></h4>
                </div>
              </div>
              <div class="tip" id="toltip<%= movie.id %>" style="position: absolute; display: none;">
                <div class="tip-title"><%= movie.title %></div>
                <div class="tip-content">Jeżeli natomiast chcemy sami dopasować dzielenie wyrazów w akapicie, wartość auto należy zamienić na manual.<%= movie.description %></div>
              </div>
          <% end %>
          </div>
        </div>
      </div>
      <% end %>

      <div class="row">
        <div class="col-xs-6">
          <%= will_paginate @movies, :previous_label => 'Poprzednia', :next_label => 'Nastepna', renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>

    <!--user, employee-->
<% end %>
