<div class="container">
  <legend><%= @movie.title %></legend>
  <div class="col-md-5">

      <strong>Genre:</strong>
    <% @movie.categories.each do |category| %>
        <%= category.name %>
    <% end %>
    <br>

      <strong>Director:</strong>
      <%= @movie.director %>
    <br>

      <strong>Actors:</strong>
      <%= @movie.actors %>
    <br>

      <strong>Country:</strong>
      <%= @movie.country %>
    <br>

      <strong>Pegi:</strong>
      <%= @movie.pegi %>
    <br>

      <strong>Duration:</strong>
      <%= @movie.duration %>
    <br>

      <strong>Premiere:</strong>
      <%= @movie.premiere %>
    <br>

      <strong>Description:</strong>
      <%= @movie.description %>
    <br>

    <% if current_user and current_user.role == 'admin' %>
        <%= link_to 'Edytuj', edit_movie_path(@movie) %>
    <% else %>
        <%= link_to 'Rezerwuj', {controller: 'seances', action: 'show_seances_with_movie', movie_id: @movie.id}, class: "btn btn-default" %>
    <% end %>
    <%= link_to 'Powrót', movies_path, class: "btn btn-default" %>
  </div>
  <div class="col-md-7">
    <iframe src=<%= @movie.url_trailer %> frameborder="0" allowfullscreen></iframe>
  </div>
</div>
