<div class="col-xs-4">
  <%= image_tag @movie.picture, class: "photo-show" %>
  <button id="trailer" class="btn btn-default col-xs-12">Zwiastun</button>
</div>
<div class="col-xs-8">
  <h3><%= @movie.title %></h3>

  <p><%= @movie.duration %></p>

  <table>
    <tbody>
      <tr>
        <th>reżyseria:</th>
        <td><%= @movie.director %></td>
      </tr>
      <tr>
        <th>obsada:</th>
        <td><%= @movie.actors %></td>
      </tr>
      <tr>
        <th>gatunek:</th>
        <td>
          <% @movie.categories.each do |category| %>
              <%= category.name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>produkcja:</th>
        <td><%= @movie.country %></td>
      </tr>
      <tr>
        <th>premiera:</th>
        <td><%= format_date(@movie.premiere) %></td>
      </tr>
      <tr>
        <th>ogranieczenie</br>wiekowe:</th>
        <td><%= @movie.pegi %></td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <% if current_user and current_user.role == 'admin' %>
      <%= link_to 'Edytuj', edit_movie_path(@movie) %>
      <%= link_to 'Powrót', movies_path, class: "btn btn-default" %>
  <% end %>
</div>
<div class="col-xs-12">
  <%= render 'show_seances_with_movie' %>
</div>

<div id="my-trailer" class="modal">
  <div class="modal-content-yt">
    <span id="close-trailer" class="close">&times;</span>
    <iframe src=<%= @movie.url_trailer %> frameborder="0" allowfullscreen width="980px" height="420px"></iframe>
  </div>
</div>