<%= form_for(order_seating) do |f| %>
  <% if order_seating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_seating.errors.count, "error") %> prohibited this order_seating from being saved:</h2>

      <ul>
      <% order_seating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :seating_id %>
    <%= f.number_field :seating_id %>
  </div>

  <div class="field">
    <%= f.label :order_id %>
    <%= f.number_field :order_id %>
  </div>

  <div class="field">
    <%= f.label :ticked_id %>
    <%= f.number_field :ticked_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
