<p id="notice"><%= notice %></p>

<p>
  <strong>Seating:</strong>
  <%= @order_seating.seating_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_seating.order_id %>
</p>

<p>
  <strong>Ticked:</strong>
  <%= @order_seating.ticked_id %>
</p>

<%= link_to 'Edit', edit_order_seating_path(@order_seating) %> |
<%= link_to 'Back', order_seatings_path %>
