<% if current_user && current_user.role = 'employee' %>

  <div class="col-xs-6" id="cms-tickets-payment">
    <h4 class="cms-payments-title">Menadżer biletów: </h4>
    <div class="cs-tickets-managment" >
      <div class="col-xs-5 form-group">
        <label for="dom1">Typ biletu:</label>
        <%= select_tag :ticket_id, options_for_select(Ticket.all.map {|x| [x.name + ' ' + format("%.2f", x.price) + 'zł', x.id]}),  class: 'cs-type-of-tickets form-control', id: 'dom1' %>
      </div>
      <div class="col-xs-4 form-group">
        <label for="dom2">Ilość:</label>
        <%= select_tag :how_many_tickets, options_for_select((1..@order.seatings.count)), class: 'cs-how-many-tickets form-control', id: 'dom2' %>
      </div>
      <button id="dom3" class="col-xs-3 btn btn-default">Dodaj</button>
    </div>
    <div class="cs-tickets-results" id="dom4">
    </div>
    <div class="cs-sum col-xs-12">
      <div class="cs-left col-xs-5">
        <h4 id="dom6">0.00</h4><h4>zł</h4>
      </div>
      <div class="cs-right col-xs-4">
        <h4>Wybrano:</h4><h4 id="dom5" >0</h4><h4>/</h4><h4 id="dom0"><%= @order.seatings.count %></h4>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <button style="margin-left: 15px; margin-top: 10px; padding-left: 20px; padding-right: 20px;" id="cms-order-buy" class="btn btn-info" data-url="<%= update_ticket_type_orders_path(order_id: @order) %>" data-redirect="<%= order_path(@order) %>" >Zapisz</button>
  </div>
<% else %>
  <h1>Dane rezerwacji</h1>
    <div class="col-xs-2">
      <label for="timer2" style="margin-left: -15px;">Czas:</label>
      <p style="text-align: center; font-size: 30px; margin: 0px 0px 0px -15px; border: 1px solid darkgray; border-radius: 4px; width: 182px; padding: 7px; " id="timer2" class="timer" data-url="<%= show_info_orders_path(seance_id: @order.seance.id) %>" data-order="<%= @order.id %>" data-sendurl="<%= timer_destroy_orders_path %>"></p>
    </div>
    <div style="margin-top: 75px;">
      <%= render 'form', order: @order %>
    </div>
  <button id="cms-comfirm-order">Zatwierdź</button>



    <script>
        // Set the date we're counting down to
        var countDownDate = new Date();
        countDownDate.setMinutes(countDownDate.getMinutes() + 5);
        countDownDate.getTime();

        var timer2 = document.getElementById("timer2");
        var loc = location.href;
        var url_http = loc.replace('http://', '');
        var end_url = url_http.indexOf('/');
        var url = timer2.dataset.url;
        var _url = timer2.dataset.sendurl;
        var _data = { order_id: timer2.dataset.order };
        console.log(url);
        console.log('http://' + url_http.substring(0,end_url) + url);

        // Update the count down every 1 second
        var x = setInterval(function() {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now an the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            timer2.innerHTML = minutes + "m " + seconds + "s ";

            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                timer2.innerHTML = "Koniec czasu!";

                return $.ajax({
                    method: 'get',
                    dataType: 'json',
                    data: _data,
                    url: _url,
                    success: function(response) {
                        window.location.href = 'http://' + url_http.substring(0,end_url) + url;
                        return
                        location.reload();
                    },
                    error: function(response) {
                        window.location.replace('http://' + url_http.substring(0,end_url) + url);
                        return
                        location.reload();
                    }
                });
            }
        }, 1000);
    </script>
<% end %>
<div class="cms-url-order" data-url="<%= order_path(@order) %>">
</div>

