<% if current_user and current_user.role == 'admin' %>
    <!--admin-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="container">
          <div>
            <%= search_form_for @search, url: search_orders_path, html: {class: "form-inline col-xs-12 seance-search", method: :get} do |f| %>
                <div class="input-daterange input-group" id="datepicker">
                  <div class="col-xs-3">
                    <%= f.search_field :seance_start_date_gteq, class: "form-control", placeholder: "Od" %>
                  </div>
                  <div class="col-xs-3">
                    <%= f.search_field :seance_start_date_lteq, class: "form-control", placeholder: "Do" %>
                  </div>
                </div>
                <div class="col-xs-3">
                  <%= f.search_field :name_cont, class: "form-control", placeholder: "Imię" %>
                </div>
                <div class="col-xs-3">
                  <%= f.search_field :surname_cont, class: "form-control", placeholder: "Nazwisko" %>
                </div>
                <div class="col-xs-2">
                  <%= f.label :reserved_eq, 'Rezerwacje' %>
                  <%= f.check_box :reserved_eq %>
                </div>
                <div class="col-xs-2 form-actions">
                  <%= f.submit "Szukaj", class: "btn btn-info" %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th><b><%= sort_link @search, :name, "Imię:" %></b></th>
            <th><b><%= sort_link @search, :surname, "Nazwisko:" %></b></th>
            <th><b>Email:</b></th>
            <th><b>Tel:</b></th>
            <th><b>Film:</b></th>
            <th><b>Sala:</b></th>
            <th><b><%= sort_link @search, :seance_start_date, "Data:" %></b></th>
            <th><b>Akcje:</b></th>
          </tr>
          </thead>

          <tbody>
          <% @orders.each do |order| %>
              <tr>
                <td><%= order.name %></td>
                <td><%= order.surname %></td>
                <td><%= order.email %></td>
                <td><% if order.phone %><%= order.phone %><% else %> - <% end %></td>
                <td><%= order.seance.movie.title %></td>
                <td><%= order.seance.room.name %></td>
                <td><%= format_datatime(order.seance.start_date) %></td>
                <td class="text-right"><%= link_to 'Szczególy', order, class: "btn btn-default btn-xs" %>
                  <%= link_to 'Usuń', order, method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć' }, class: "btn btn-danger btn-xs" %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <%= will_paginate @orders, :previous_label => 'Poprzednia', :next_label => 'Nastepna', renderer: BootstrapPagination::Rails %>
      </div>
    </div>
<% else %>
    <!--emp-->
    <div class="panel">
      <div class="panel-body order-panel-body-emp">
        <div class="row">
          <ul class="nav nav-tabs" role="tablist">
            <% active = 6 %>
            <% tmp = false %>
            <% (0..6).each do |indx1| %>
                <% one_day = @seances.where(start_date: (Time.now.beginning_of_day + indx1.days)..(Time.now.end_of_day + indx1.days)) %>
                <% tmp1 = day_of_week((Time.now + indx1.day).wday) %>
                <li role="presentation" class="<% if one_day.count == 0 %>disable-nav-tabs<% else; active = indx1; end %><% if indx1 == active and tmp == false; tmp = true %>active<% end %>" >
                  <a href="#<%= tmp1 %>" aria-controls="<%= tmp1 %>" role="tab" data-toggle="tab">
                    <h4 class="date-seance"><%= tmp1 %></h4><%= format_date(Time.now + indx1.day) %>
                  </a>
                </li>
            <% end %>
          </ul>
          <input type="text" id="reserved-input" onkeyup="myFunctiona()" placeholder="Imię lub nazwisko" title="Type in a name">
          <div id="reserved-table" class="tab-content seance cms-order-reserved">
            <% active = 6 %>
            <% tmp = false %>
            <% (0..6).each do |indx2| %>
                <% one_day = @seances.where(start_date: (Time.now.beginning_of_day + indx2.days)..(Time.now.end_of_day + indx2.days)) %>
                <% tmp2 = day_of_week((Time.now + indx2.day).wday) %>
                <div role="tabpanel" class="tab-pane <% if one_day.count != 0; active = indx2; end %><% if indx2 == active and tmp == false; tmp = true %>active<% end %>" id="<%= tmp2 %>">
                  <table class="table-hover table table-bordered">
                    <tbody>
                    <tr class="head">
                      <th><b>Imię i nazwisko:</b></th>
                      <th><b>Email:</b></th>
                      <th><b>Tel:</b></th>
                      <th><b>Film:</b></th>
                      <th><b>Sala:</b></th>
                      <th><b>Godzina:</b></th>
                      <th><b>Akcje:</b></th>
                    </tr>
                    <% one_day.sort_by { |x| x.start_date}.each do |seance| %>
                        <% seance.orders.each do |order| %>
                            <% if order.approved == true && order.reserved == true %>
                                <tr>
                                  <td><%= order.name %> <%= order.surname %></td>
                                  <td><%= order.email %></td>
                                  <td><% if order.phone %><%= order.phone %><% else %> - <% end %></td>
                                  <td><%= order.seance.movie.title %></td>
                                  <td><%= order.seance.room.name %></td>
                                  <td><%= format_time(order.seance.start_date) %></td>
                                  <td class="text-right"><%= link_to 'Szczególy', order, class: "btn btn-default btn-xs" %>
                                    <%= link_to 'Usuń', order, method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć' }, class: "btn btn-danger btn-xs" %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    <% end %>
                    </tbody>
                  </table>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>