<div class="row">
  <ul class="nav nav-tabs" role="tablist">
    <% active = 6 %>
    <% tmp = false %>
    <% (0..6).each do |indx1| %>
        <% one_day = @seances.where(start_date: (Time.now.beginning_of_day + indx1.days)..(Time.now.end_of_day + indx1.days)) %>
        <% tmp1 = day_of_week((Time.now + indx1.day).wday) %>
        <li role="presentation" class="<% if one_day.count == 0 %>disable-nav-tabs<% else; active = indx1; end %><% if indx1 == active and tmp == false; tmp = true %>active<% end %>" >
          <a href="#<%= tmp1 %>" aria-controls="<%= tmp1 %>" role="tab" data-toggle="tab">
            <h4 class="date-seance"><%= tmp1 %></h4><%= format_date(Time.now + indx1.day) %>
          </a>
        </li>
    <% end %>
  </ul>
  <div class="tab-content seance cms-order-reserved">
    <% active = 6 %>
    <% tmp = false %>
    <% (0..6).each do |indx2| %>
        <% one_day = @seances.where(start_date: (Time.now.beginning_of_day + indx2.days)..(Time.now.end_of_day + indx2.days)) %>
        <% tmp2 = day_of_week((Time.now + indx2.day).wday) %>
        <div role="tabpanel" class="tab-pane <% if one_day.count != 0; active = indx2; end %><% if indx2 == active and tmp == false; tmp = true %>active<% end %>" id="<%= tmp2 %>">
          <table class="table-hover table">
            <tbody>
            <tr>
              <td><b>Imię:</b></td>
              <td><b>Nazwisko:</b></td>
              <td><b>Email:</b></td>
              <td><b>Tel:</b></td>
              <td><b>Film:</b></td>
              <td><b>Sala:</b></td>
            </tr>
            <% one_day.sort_by { |x| x.start_date}.each do |seance| %>
              <% seance.orders.each do |order| %>
                <% if order.approved == true && order.reserved == true %>
                  <tr>
                    <td><%= order.name %></td>
                    <td><%= order.surname %></td>
                    <td><%= order.email %></td>
                    <td><% if order.phone %><%= order.phone %><% else %> - <% end %></td>
                    <td><%= order.seance.movie.title %></td>
                    <td><%= order.seance.room.name %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
    <% end %>
  </div>
</div>