<div class="container">
  <div class="row customer_data" id="customer_data" style="display: block;">
    <div class="col-xs-12">
      <legend>Zamówienie</legend>
    </div>
    <div class="col-md-6">
      <%= render 'form', order: @order %>
    </div>
    <div class="col-md-6">
      <div class="well-sm smc-quantity"><h4 class="info">Dostępne miejsca: <a id="dom0"><%= @available %></a>/<%= @room_quantity %></h4></div>

      <div class="cs-tickets-managment" >
        <%= select_tag :ticket_id, options_for_select(Ticket.all.map {|x| [x.name, x.id]}),  class: 'cs-type-of-tickets', id: 'dom1' %>
        <%= select_tag :how_many_tickets, options_for_select((1..10)), class: 'cs-how-many-tickets', id: 'dom2' %>
        <button id="dom3">Dodaj</button>
      </div>

      <div class="cs-tickets-results" id="dom4">
      </div>
    </div>
  </div>
  <button id="next">Dalej</button>


  <div class="reserve_seats"  id="reserve_seats" style="display: none;">
    <div class="row">
      <div class="col-xs-12">
        <legend>Lista siedzień</legend>
      </div>
      <div id="dom5"></div>
    </div>
    <div style="display: flex; width: 100%; justify-content: center;">
      <div style="width: 100%; height: 50px; background-color: grey;">
        <p style = 'display:flex; align-items:center; height: 100%; margin:0px; justify-content: center; font-size: 54px;'>Ekran</p>
      </div>
    </div>
    <div class="row" style="text-align:center">
      <div class="seatings-container" style="display: inline-block; width: <%= @room.columns*64 + 40 %>px; height: <%= @room.rows*60 + 40%>px">
        <div class="seating-legend-vertical">
          <% (1..@room.columns).each do |index| %>
              <div class="legend-item"><%= index %></div>
          <% end %>
        </div>
        <div class="seating-legend-horizontal">
          <% (1..@room.rows).each do |index| %>
              <div class="legend-item"><%= (64 + index).chr %></div>
          <% end %>
        </div>
        <div class="seatings">
          <% @responseObject.each_with_index do |item, i| %>
              <div class="seating-row">
                <% item.each_with_index do |child, j| %>
                    <div class="cms-seat <%=  child.slot == true  ? 'cms-seatable' : 'cms-not-seatable'%>
                  <%= "cms-occupied" if @occupied_places.include? child.id %>" data-seating-id="<%= child.id %>" data-seating-number="<%= j+1 %><%=(65 + i).chr %>">
                      <%= j+1 %><%=(65 + i).chr %>
                    </div>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <button class="cs-submit-order">Akceptuje</button>
    <%= button_to 'Anuluj', movies_path, class: 'button', method: :get  %>

  </div>

</div>
<div id="cms-columns" style = "display:none;">
  <%= @room.columns %>
</div>
<div id="cms-rows" style = "display:none;">
  <%= @room.rows %>
</div>
<script>
  $( document ).ready(function() {
    if( parseFloat($('#cms-columns').text().trim()) > 18){
      var margin = 5;
      $(".seatings-container").css('width','100%')
      $(".seatings-container").css('height','auto')

      $(".cms-seat").css("width", (1170/$('#cms-columns').text()-2*margin) + "px");
      $(".cms-seat").css("height", (1170/$('#cms-columns').text()-2*margin) + "px");
      // $(".seating-legend-vertical").css("left", ((1170/$('#cms-columns').text()-2*margin)/2)+12.5+"px")
      $(".seating-legend-vertical").css("width", 1170+"px")
      $(".seating-legend-vertical").css("display", 'flex')
      // $(".seating-legend-vertical").css("justify-content", 'space-around')
      $(".seating-legend-vertical").css("left", '25px')
      $(".legend-item").css("padding-top", '0')
      $(".legend-item").css("height", 'auto')

      $(".seating-legend-horizontal").css("height", $('#cms-rows').text()*(1170/$('#cms-columns').text()))

      $(".seating-legend-horizontal").css("display", 'flex')
      $(".seating-legend-horizontal").css("justify-content", 'space-around')
      $(".seating-legend-horizontal").css("left", '0px')
      $(".seating-legend-horizontal").css("top", '25px')
      $(".seating-legend-horizontal").css("flex-direction", 'column')



      $(".seating-row").css('display', 'flex')
      $(".seating-row").css('height', 'auto')
      $('.cms-seat').css('width', 'auto!important')
      $('.cms-seat').css('height', 'auto!important')
      console.log((1170/$('#responseObject').text()) + "px");
    }
  });
</script>