<% if flash[:notice] %>
    <div class="notice well-sm"><%= flash[:notice] %></div>
<% end %>
<div class="cms-screen-wrapper">
  <div class="cms-screen">
    <p class="cms-screen-inside">Ekran</p>
  </div>
</div>
<div class="row" style="text-align:center">
  <div class="seatings-container" style="display: inline-block; width: <%= @room.columns*64 + 40 %>px; height: <%= @room.rows*60 + 40%>px">
    <div class="seating-column-legend">
      <% (1..@room.columns).each do |index| %>
          <div class="legend-item"><%= index %></div>
      <% end %>
    </div>
    <div class="seating-row-legend">
      <% (1..@room.rows).each do |index| %>
          <div class="legend-item"><%= (64 + index).chr %></div>
      <% end %>
    </div>
    <div class="seatings">
      <% @responseObject.each_with_index do |item, i| %>
          <div class="seating-row" style="width: <%= @room.columns * 64 %>px">
            <% item.each_with_index do |child, j| %>
                <div class="cms-seat has-hover <%=  child.slot == true  ? 'cms-seatable' : 'cms-not-seatable'%>
                <%= "cms-occupied" if @occupied_places.include? child.id %>" data-seating-id="<%= child.id %>" data-seating-number="<%= j+1 %><%=(65 + i).chr %>">
                  <%= j+1 %><%=(65 + i).chr %>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<div id="show-room-buttons">
  <% if current_user %>
      <%= link_to 'Sprzedaj', orders_path( seance_id: @seance.id), method: :post, class: "btn btn-default", id: "cms-submit-order"  %>
      <%= link_to 'Kup', orders_path( seance_id: @seance.id), method: :post, class: "btn btn-default", id: "cms-submit-order-paypal", style: "display: none" %>
  <% else %>
      <% if ENV["available_reservations"] != 'true' && !current_user %>
          <%= link_to 'Rezerwuj', orders_path( seance_id: @seance.id), method: :post, class: "btn btn-default", id: "cms-submit-order", style: "display: none"  %>
      <% else %>
          <%= link_to 'Rezerwuj', orders_path( seance_id: @seance.id), method: :post, class: "btn btn-default", id: "cms-submit-order"  %>
      <% end %>
      <% if ENV["available_payment"] != 'true' %>
          <%= link_to 'Kup', orders_path( seance_id: @seance.id), method: :post, class: "btn btn-default", id: "cms-submit-order-paypal", style: "display: none"  %>
      <% else %>
          <%= link_to 'Kup', orders_path( seance_id: @seance.id), method: :post, class: "btn btn-default", id: "cms-submit-order-paypal" %>
      <% end %>
  <% end %>
</div>
<div id="cms-columns" style = "display:none;">
  <%= @room.columns %>
</div>


<script>
    $(document).ready(function(e) {
        var colums = $('#cms-columns').text();
        var margin = 5;
        var seat = (1115/colums-2*margin);
        var width = $(".seatings-container").css("width");
        if( parseFloat(colums.trim()) > 18){
            $(".seatings-container").css('width','100%');
            $(".seatings-container").css('height','auto');
            // $(".seatings-container").css('margin_right','25px')
            var seats = $(".cms-seat")
            seats.css("width", seat + "px");
            seats.css("height", seat + "px");
            seats.removeClass('has-hover');
            // $(".seating-column-legend").css("left", ((1170/$('#cms-columns').text()-2*margin)/2)+12.5+"px")
            $(".seating-column-legend").css("width", 1115+"px");
            $(".seating-column-legend").css("display", 'flex');
            // $(".seating-column-legend").css("justify-content", 'space-around')
            $(".seating-column-legend").css("left", '25px');
            $(".legend-item").css("padding-top", '0');
            $(".legend-item").css("height", 'auto');
            $('.seatings').ready(function(){
                $(".seating-row-legend").css("height", $('.seatings').height()+"px");
                $("#show-room-buttons").css('margin-top', $('.seatings').height() + 20 + "px");
                console.log($('.seatings').height()+"px" + ' tuuuuu');
            });
            $(".seating-row-legend").css("display", 'flex');
            $(".seating-row-legend").css("justify-content", 'space-around');
            $(".seating-row-legend").css("left", '0px');
            $(".seating-row-legend").css("top", '25px');
            $(".seating-row-legend").css("flex-direction", 'column');
            $(".seating-row").css('display', 'flex');
            $(".seating-row").css('height', 'auto');
            $(".seating-row").css('width', 'auto');
            console.log((1170/$('#responseObject').text()) + "px");

            $(".cms-screen-wrapper").css("width", colums * seat + "px");
            seats.each(function() {
                $(this).tooltip({title: $(this).text()})
            });
        }else {
            $(".cms-screen-wrapper").css("width", parseFloat(width) * 0.8 + "px");
        }
    });
</script>

