<div class="container">
  <div class="row" style="text-align:center">
    <div class="seatings-container" style="display: inline-block; width: <%= @room.columns*64 + 40 %>px; height: <%= @room.rows*60 + 40%>px">
      <div class="seating-legend-vertical">
        <% (1..@room.columns).each do |index| %>
            <div class="legend-item"><%= index %></div>
        <% end %>
      </div>
      <div class="seating-legend-horizontal">
        <% (1..@room.rows).each do |index| %>
            <div class="legend-item"><%= (64 + index).chr %></div>
        <% end %>
      </div>
      <div class="seatings">
        <% @responseObject.each_with_index do |item, i| %>
            <div class="seating-row" style="width: <%= @room.columns * 64 %>px">
              <% item.each_with_index do |child, j| %>
                  <div class="cms-seat <%=  child.slot == true  ? 'cms-seatable' : 'cms-not-seatable'%>
                  <%= "cms-occupied" if @occupied_places.include? child.id %>" data-seating-id="<%= child.id %>" data-seating-number="<%= j+1 %><%=(65 + i).chr %>">
                    <%= j+1 %><%=(65 + i).chr %>
                  </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to 'Kontynuuj', orders_path( seance_id: @seance.id), method: :post, class: "btn btn-default", id: "cms-submit-order"  %>
  <button class="cs-submit-order">Akceptuje</button>
  <%= button_to 'Anuluj', movies_path, class: 'button', method: :get  %>
</div>


