<div class="panel panel-default">
  <div class="panel-heading">
    <h2 style="margin-top: 0px; margin-bottom: 0px;">Bilety</h2>
    <%= link_to new_ticket_path, class: "btn btn-success admin_new" do %>
        Nowy
    <% end %>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Nazwa</th>
        <th>Cena</th>
        <th colspan="3">Akcje</th>
      </tr>
      </thead>

      <tbody>
      <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.name %></td>
            <td><%= ticket.price %></td>
            <td class="text-right">
              <%= link_to 'Edytuj', edit_ticket_path(ticket), class: "btn btn-default btn-xs" %>
              <%= link_to 'Usuń', ticket, method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć' }, class: "btn btn-danger btn-xs" %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer"></div>
</div>