<div class="container">
  <h1>Bilety</h1>
  <%= link_to new_ticket_path, class: "btn btn-success admin_new" do %>
      </span>Dodaj nowy bilet
  <% end %>
  <br>
  <div class="col-md-6">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Nazwa</th>
        <th>Cena</th>
        <th colspan="3">Akcje</th>
      </tr>
      </thead>

      <tbody>
      <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.name %></td>
            <td><%= ticket.price %></td>
            <td class="text-right">
              <%= link_to 'Edytuj', edit_ticket_path(ticket), class: "btn btn-default btn-xs" %>
              <%= link_to 'Usuń', ticket, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>