<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Witaj, <%= @order.name %>!</h1>
<p>
  Uwaga informacja wygenerowana automatycznie!<br>
</p>
<p>
  Aby potwierdzić rezerwację na seans: <%= @order.seance.movie.title %> Proszę kliknąć link:<br>
  <a href="<%= summary_orders_url %>?s=<%= @order.seance.id %>&o=<%= @order.id %>&c=<%= @order.activation_code %>">Potwierdzam rezerwacje</a>
</p>
<p>Dziękujemy za skorzystanie z naszych usług, miłego seansu!</p>
<p>
  <b>Kontakt:</b><br>
  <%= @info.street %><br>
  <%= @info.city %><br>
  <%= @info.phone %><br>
  <%= @info.email %><br>
</p>
</body>
</html>