<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Witaj, <%= @order.name %>!</h1>
<p>
  Uwaga informacja wygenerowana automatycznie!<br>
</p>
<p>
  Zarezerwowano bilet na seans: <%= @order.seanse.movie.title %><br>
  Seans odbedzie sie dnia: <%= @order.seanse.start_date.strftime("%d-%m-%Y") %>, o godzinie: <%= @order.seanse.start_date.strftime("%H:%M") %>, w sali: <%= @room %>.<br>
  Zarezerwowane miejsca to: <% @seats.each do |x| %><%= x + ' ' %><% end %><br>
  <a style="color: red;">Prosimy stawić się do 15 minut przed seansem, ponieważ rezerwaceję zostają automatycznie kasowane!</a>
</p>
<p>Dziękujemy za skorzystanie z naszych usług, miłego dnia!</p>
<p>
  <b>Kontakt:</b><br>
  <%= @info.street %><br>  
  <%= @info.city %><br>
  <%= @info.phone %><br>  
  <%= @info.email %><br>  
</p>
</body>
</html>