<%= form_for(order) do |f| %>
    <% if order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
            <% order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :name, 'Imię*' %>
      <%= f.text_field :name, value: 'sad' , class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= f.label :surname, 'Nazwisko*' %>
      <%= f.text_field :surname, value: 'sa', class: 'form-control'%>
    </div>

    <div class="field form-group">
      <%= f.label :email, 'Email*' %>
      <%= f.text_field :email, value: 'dsa@as.pl', class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= f.label :phone, 'Telefon' %>
      <%= f.text_field :phone,value: '', class: 'form-control' %>
    </div>
    <h6>* Dane obowiązkowe!</h6>

<% end %>
