<%= form_for(category_movie) do |f| %>
  <% if category_movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category_movie.errors.count, "error") %> prohibited this category_movie from being saved:</h2>

      <ul>
      <% category_movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.number_field :category_id %>
  </div>

  <div class="field">
    <%= f.label :movie_id %>
    <%= f.number_field :movie_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
