<p id="notice"><%= notice %></p>

<h1>Category Movies</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Movie</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category_movies.each do |category_movie| %>
      <tr>
        <td><%= category_movie.category_id %></td>
        <td><%= category_movie.movie_id %></td>
        <td><%= link_to 'Show', category_movie %></td>
        <td><%= link_to 'Edit', edit_category_movie_path(category_movie) %></td>
        <td><%= link_to 'Destroy', category_movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category Movie', new_category_movie_path %>
