<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @category_movie.category_id %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @category_movie.movie_id %>
</p>

<%= link_to 'Edit', edit_category_movie_path(@category_movie) %> |
<%= link_to 'Back', category_movies_path %>
