<div class="container">
  <legend>Kontakt</legend>
  <p><%= @info.description %></p>
  <div class="col-md-6">
    <iframe src="<%= @src %>" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6">
    <div style="margin-left: 10%;">
      <legend><h5>Dane kontaktowe</h5></legend>
      <div>
        ul. <%= @info.street %> <%= @info.building_number %><br>
        <%= @info.zip_code %> <%= @info.city %><br>
        tel. <%= @info.phone %><br>
        <%= @info.email %>
      </div>
    </div>
  </div>
</div>
