<!DOCTYPE html>
<html>
  <head>
    <title>CinemaManagmentSystemV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= root_path %>"><%= Info.last.cinema_name %></a>
      </div>
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
            <% if current_user.role=='admin' %>
                <li <% if [params[:controller], params[:action]] == ["movies", "index"] %>class="active"<% end %>><%= link_to "Filmy", root_path %></li>
                <li <% if [params[:controller], params[:action]] == ["categories", "index"] %>class="active"<% end %>><%= link_to "Gatunki", categories_path %></li>
                <li <% if [params[:controller], params[:action]] == ["rooms", "index"] %>class="active"<% end %>><%= link_to "Sale", rooms_path %></li>
                <li <% if [params[:controller], params[:action]] == ["seances", "index"] %>class="active"<% end %>><%= link_to "Seanse", seances_path %></li>
                <li <% if [params[:controller], params[:action]] == ["orders", "index"] %>class="active"<% end %>><%= link_to "Zamówienia", orders_path %></li>
                <li <% if [params[:controller], params[:action]] == ["tickets", "index"] %>class="active"<% end %>><%= link_to "Bilety", tickets_path %></li>
                <li <% if [params[:controller], params[:action]] == ["infos", "edit"] %>class="active"<% end %>><%= link_to "Kontakt", edit_info_path(1) %></li>
                <li <% if [params[:controller], params[:action]] == ["regulations", "edit"] %>class="active"<% end %>><%= link_to "Regulamin", edit_regulation_path(1) %></li>
                <li <% if [params[:controller], params[:action]] == ["users", "index"] %>class="active"<% end %>><%= link_to "Konta", users_path %></li>
            <% else %>
                <li <% if [params[:controller], params[:action]] == ["movie", "index"] %>class="active"<% end %>><%= link_to "Filmy", movies_path %></li>
                <li <% if [params[:controller], params[:action]] == ["seances", "index"] %>class="active"<% end %>><%= link_to "Seanse", seances_path %></li>
                <li <% if [params[:controller], params[:action]] == ["orders", "index"] %>class="active"<% end %>><%= link_to "Rezerwacje", orders_path %></li>
                <li <% if [params[:controller], params[:action]] == ["orders", "find"] %>class="active"<% end %>><%= link_to "Kod", find_orders_path %></li>
            <% end %>
        <% else %>
            <li <% if [params[:controller], params[:action]] == ["movie", "index"] %>class="active"<% end %>><%= link_to "Filmy", root_path %></li>
            <li <% if [params[:controller], params[:action]] == ["seances", "index"] %>class="active"<% end %>><%= link_to "Seanse", seances_path %></li>
            <li <% if [params[:controller], params[:action]] == ["infos", "index"] %>class="active"<% end %>><%= link_to "Kontakt", infos_path %></li>
            <li <% if [params[:controller], params[:action]] == ["regulations", "index"] %>class="active"<% end %>><%= link_to "Regulamin", regulations_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <% if current_user.role=='admin' %>
                <li style="color: #7ecff4; padding: 16px;"><b>Admin</b></li>
            <% else %>
              <li style="color: #7ecff4; padding: 16px;"><b><%= current_user.name %> <%= current_user.last_name %></b></li>
            <% end %>
            <li><%= link_to "Wyloguj", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <%= link_to "Zalo", user_session_path %>
          <% end %>
      </ul>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
