<!DOCTYPE html>
<html>
  <head>
    <title>CinemaManagmentSystemV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= root_path %>"><%= Info.last.cinema_name %></a>
      </div>
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
            <% if current_user.role=='admin' %>
                <li <% if [params[:controller], params[:action]] == ["movies", "index"] %>class="active"<% end %>><%= link_to "Filmy", root_path %></li>
                <li <% if [params[:controller], params[:action]] == ["categories", "index"] %>class="active"<% end %>><%= link_to "Gatunki", categories_path %></li>
                <li <% if [params[:controller], params[:action]] == ["rooms", "index"] %>class="active"<% end %>><%= link_to "Sale", rooms_path %></li>
                <li <% if [params[:controller], params[:action]] == ["seances", "index"] %>class="active"<% end %>><%= link_to "Seanse", seances_path %></li>
                <li <% if [params[:controller], params[:action]] == ["orders", "index"] %>class="active"<% end %>><%= link_to "Zamówienia", orders_path %></li>
                <li <% if [params[:controller], params[:action]] == ["tickets", "index"] %>class="active"<% end %>><%= link_to "Bilety", tickets_path %></li>
                <li <% if [params[:controller], params[:action]] == ["infos", "edit"] %>class="active"<% end %>><%= link_to "Kontakt", edit_info_path(1) %></li>
            <% else %>
                <li <% if [params[:controller], params[:action]] == ["movie", "index"] %>class="active"<% end %>><%= link_to "Filmy", root_path %></li>
                <li <% if [params[:controller], params[:action]] == ["seances", "index"] %>class="active"<% end %>><%= link_to "Seanse", seances_path %></li>
                <li <% if [params[:controller], params[:action]] == ["orders", "index"] %>class="active"<% end %>><%= link_to "Zamówienia", orders_path %></li>
            <% end %>
        <% else %>
            <li <% if [params[:controller], params[:action]] == ["movie", "index"] %>class="active"<% end %>><%= link_to "Filmy", root_path %></li>
            <li <% if [params[:controller], params[:action]] == ["seances", "index"] %>class="active"<% end %>><%= link_to "Seanse", seances_path %></li>
            <li <% if [params[:controller], params[:action]] == ["infos", "index"] %>class="active"<% end %>><%= link_to "Kontakt", infos_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if user_signed_in? %>
              <%= link_to "Wyloguj", destroy_user_session_path, :method => :delete %>
              <% if current_user.role=='admin' %>
                  Admin
              <% else %>
                  EMP
              <% end %>
          <% else %>
              <%= link_to "Zalo", user_session_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
